/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.container {
  width: 1046px;
  margin-left: auto;
  margin-right: auto;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  padding: 10px 36px;
}

.banner-wrap {
  height: 793px;
  background-image: url("../images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-nav {
  margin-left: 132px;
}

.nav-items:not(last-child) {
  margin-right: 21px;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  color: #252b42;
  padding: 23px 0;
}

.nav-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71px;
  color: #737373;
}

.herow {
  padding-top: 80px;
  padding-bottom: 80px;
  height: 689px;
}

.herow-content {
  max-width: 509px;
}

.herow-items:first-child {
  margin-right: 10px;
}

.herow-title {
  font-weight: 800;
  font-size: 58px;
  line-height: 1.37;
  color: #252b42;
  margin-bottom: 35px;
}

.herow-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #737373;
  letter-spacing: 0.2px;
  margin-bottom: 35px;
}

.herow-link {
  font-style: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  color: #ffffff;
  background-color: #ff7b47;
  border-radius: 37px;
}

.herow-link-right {
  font-style: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  color: #0d5c63;
  border: 1px solid #0d5c63;
  border-radius: 37px;
}

.after-herow {
  background-color: #fafafa;
  background-color: transparent;
}

.after-herow-list {
  margin-top: -11%;
}

.after-herow-items {
  -ms-flex-preferred-size: calc(100% / 3);
      flex-basis: calc(100% / 3);
  padding: 35px 40px;
  background-color: #ffffff;
}

.after-herow-items:not(:last-child) {
  margin-right: 30px;
}

.after-herow-items:last-child {
  background-color: #0d5c63;
}

.after-herow-items:last-child .after-herow-title {
  color: #ffffff;
}

.after-herow-items:last-child .after-herow-text {
  color: #ffffff;
}

.after-herow-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  color: #252b42;
  margin-top: 10px;
  margin-bottom: 10px;
}

.after-herow-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #737373;
}

.designing {
  background-color: #fafafa;
  padding-top: 80px;
  padding-bottom: 80px;
}

.designing-list {
  width: 100%;
}

.designing-items {
  text-align: center;
  width: 238px;
  height: 209px;
  padding: 30px 40px;
  -ms-flex-preferred-size: calc(100% / 4);
      flex-basis: calc(100% / 4);
  background-color: #ffffff;
}

.designing-items:not(:last-child) {
  margin-right: 30px;
}

.designing-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  color: #252b42;
}

.designing-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #737373;
}

.designing-number {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  color: #252b42;
  margin-bottom: 10px;
  margin-top: 10px;
}

.number-description {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #737373;
}

.advice-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  color: #252b42;
}

.advice-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #737373;
}

.advice-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #252b42;
}

.advice-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #737373;
}

.whoweare-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  color: #252b42;
}

.whoweare-after-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #737373;
}

.whoweare-sidebar-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  color: #252b42;
}

.whoweare-sidebar-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #737373;
}

.whoweare-sidebar-desc {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #252b42;
}

.whoweare-sidebar-excerpt {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  color: #737373;
}

.subscribe-tex {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  color: #ffffff;
}

.subscribe-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: #737373;
}

.subscribe-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: #737373;
}

.subscribe-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: #737373;
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: #737373;
}

.subscribe-btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  background: #ff7b47;
  color: #ffffff;
  border: none;
  -webkit-box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.subscribe-btn:hover, .subscribe-btn:focus {
  background-color: #d71489;
}

.getin-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  color: #252b42;
}

.getin-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #737373;
}

.getin-list-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  color: #252b42;
}

.getin-excerpt {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #252b42;
}

.getin-submit {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  color: #ff7b47;
  background-color: transparent;
  border: 1px solid #ff7b47;
  border-radius: 5px;
}

.footer-list {
  background-color: #17213c;
}

.consulting-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  color: #252b42;
}

.consulting-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #737373;
}

.consulting-btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  color: #ffffff;
  background-color: #ff7b47;
  border-radius: 5px;
}

.caption {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

.items {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.footer-aside-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  color: #737373;
}

body {
  font-family: "Montserrat", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */