.advice-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  color: $text-color;
}

.advice-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: $second-text-color;
}

.advice-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: $text-color;
}

.advice-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: $second-text-color;
}
