.container {
  position: relative;
  z-index: 999;
}
.clients-wrapp {
  padding-top: 50px;
  padding-bottom: 5px;
}

.subscribe-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  color: $light-text-color;

  max-width: 266px;
}
.subscribe-input-wrapp {
  margin-left: auto;
  position: relative;
}

.subscribe-input {
  height: 58px;
  width: 450px;
  &::placeholder {
    background-color: transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: $second-text-color;
  }
}

.subscribe-btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0%, 0%);
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  height: 100%;
  background: $primary-color;
  color: $light-text-color;
  border: none;
  box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  &:hover,
  &:focus {
    background-color: $background-gradient-1;
  }
}

.clients-wrapp {
  background-color: $background-dark;
}

.clients-list {
  justify-content: space-between;
}
.subscribe-container {
  background-color: $secondary-color-2;
}

.subscribe-container {
  margin-left: auto;
  max-width: 998px;
  padding: 30px 50px;
  margin-top: 70px;
}

.subscribe {
  position: relative;

  &::after {
    z-index: 1;
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 77px;
    background-color: $dark-background-color;

    content: "";
    width: 100%;
  }
}
