.designing-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  color: $text-color;
}

.designing-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: $second-text-color;
}

.designing-number {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  color: $text-color;
}
.number-description {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: $second-text-color;
}
