.designing {
  background-color: $background-dark;
  padding-top: 80px;
  padding-bottom: 80px;
}

.designing-content {
  align-items: center;
}

.designing-items {
  text-align: center;
  width: 238px;
  height: 209px;
  padding: 30px 40px;
  flex-basis: calc(100% / 4);
  background-color: $light-background-color;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.designing-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  color: $text-color;
  text-align: center;

  max-width: 609px;
}

.designing-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: $second-text-color;
  text-align: center;

  max-width: 511px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.designing-number {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  color: $text-color;
  margin-bottom: 10px;
  margin-top: 10px;
}

.number-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: $second-text-color;
}
