.footer {
  background-color: $secondary-color-2;
}
.consulting-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  color: $text-color;
}
.consulting-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: $second-text-color;
}

.consulting-btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  color: $light-text-color;
  background-color: $primary-color;
  border-radius: 5px;
}

.caption {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: $light-text-color;
}
.items {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  color: $light-text-color;
}

.footer-aside {
  background-color: $background-gray;
}

.footer-aside-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  color: $second-text-color;
}
.social-items {
  &:not(:last-child) {
    margin-right: 20px;
  }
}
.social {
  margin-left: auto;
}
