.whoweare-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  color: $text-color;
}

.whoweare-after-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: $second-text-color;
}

.whoweare-sidebar-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  color: $text-color;
}
.whoweare-sidebar-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: $second-text-color;
}

.whoweare-sidebar-desc {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: $text-color;
}
.whoweare-sidebar-excerpt {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  color: $second-text-color;
}
